

<html>
	<head>
	<style>
	
	@media print {
	  footer {page-break-after: always;}
	}
	
	
	.modal-xl {
		margin-left: auto !important;
		margin-right: auto !important;
	background-color:blue;
		
	}
	
	body{
	 
	  font-size:12px;
	  font-family: Calibri;
	}
	.right {
	  position: absolute;
	  right: 0px;
	  width: 300px;
	  height:100px;
	  padding-top:30px;
	}
	.left {
	  position: absolute;
	  left: 0px;
	  height:80px;
	  top:20px;
	  margin-left: 100px;
	}
	
	p{
	font-size:12px;
	padding:5px;
	}
	
	.header{
	height:120px;
	}
	
	.data{
	text-align:left;
	position:relative;
	}
	
	.footer {
	bottom:0px;
	}
	
	ol{
	font-size:12px;
	}
	li{
	font-size:12px;
	padding:5px;
	}
	
	td {
	padding:5px;
	}
	</style>
	
	</head>
	<% 
	var dt = new Date();
   
	year = dt.getFullYear() 
	month = dt.getMonth() + 1
	monthname = dt.toLocaleString('default', { month: 'short'});
	day = dt.getDate();
   
	%>

<body align="left" style="text-align: justify; margin-top: 20px;  margin-bottom: 10px;  margin-right: 100px;  margin-left: 100px;">

<div>



<div style="text-align: center;"><h3>DEED OF HYPOTHECATION</h3></div>
<p>
This deed of hypothecation (the <b>"Deed"</b>) is made on the day, month and year set out in SCHEDULE 1 (“Effective Date”) at the place mentioned in SCHEDULE 1 
</p>
<p><b>BY</b></p>

<p>THE PERSON(S) NAMED IN SCHEDULE 1 AS THE 'BORROWER' (hereinafter referred to as the “Borrower” which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include its successors, representatives and permitted assigns)</p>
<p><b>In favour of</b></p>
<p><b>SAMUNNATI FINANCIAL INTERMEDIATION & SERVICES PRIVATE LIMITED</b>, a company incorporated
	under the Companies Act, 2013 and a non-banking financial company registered with the RBI,
	having its registered office at Baid Hi Tech Park, 8th Floor, No. 129 B,
	East Coast Road, Thiruvanmiyur, Chennai - 600041 (hereinafter referred to as the <b>"Lender"</b> 
	which expression shall, unless it be repugnant to the context or meaning thereof, 
	be deemed to mean and include its successors, representatives and permitted assigns).
</p>
<p>The Borrower and the Lender are hereinafter referred to, wherever the context permits,
	individually as a “Party” and collectively as the “Parties”.
</p>
<p><b>WHEREAS:</b></p>
<ol>
	<li>
		The Lender and the Borrower have entered into a Facility Agreement on the
		Effective Date (“Facility Agreement”), under which the Lender has agreed to lend 
		and advance to the Borrower, and the Borrower has agreed to borrow from the Lender, the
		Facility on the terms and conditions contained in the Facility Agreement.
	</li>
	<li>
		Pursuant to the provisions in the Facility Agreement, the Outstanding Amounts
		shall be secured by the Security which inter alia includes a first and exclusive charge
		by way of hypothecation in favor of the Lender of the Hypothecated Property.
	</li>
	<li>
		The Lender has called upon the Borrower to execute this Deed which the Borrower has 
		agreed to do in the manner hereinafter expressed. 
	</li>
	
</ol>
<p><b>NOW, THIS DEED WITNESSETH AS FOLLOWS:</b></p>
<ol>
	<li>For the purpose of this Deed and the Definitive Agreements, the term <b>"Hypothecated Property"</b> means the property described 
		as the hypothecated property in the Sanction Letter. Any other capitalized terms used in this Deed, but not defined, shall have the meaning assigned 
		to them in the Facility Agreement. This Deed shall be 
		interpreted using the rules of interpretation mentioned in the Facility Agreement.</li>
	<li>The Borrower hereby expressly creates an exclusive first charge 
		by way of hypothecation on the Hypothecated Property, in favor of the Lender,
		 to secure the payment and performance in full of all of the Outstanding Amounts, 
		 subject to the terms contained in the Definitive Agreements. The Security Interest 
		 on the Hypothecated Properties created in this Deed shall become effective on and from 
		 the Effective Date. The security created on the Hypothecated Property under this Deed
		  shall be a continuing security
		 for the discharge of all Outstanding Amounts under the Facility Agreement.</li>
	<li>The Borrower represents that it is the sole legal and beneficial owner to, has all the rights in, and the absolute power to create a Security Interest in, and has good title to each of the Hypothecated Property. The Borrower further states 
		that the Hypothecated Property is free and clear of any encumbrances.</li>
	<li>The Borrower represents that the creation of the Security Interest over the Hypothecated Property (pursuant to this Deed in favor of the Lender) is in accordance with all the applicable Laws and the Constitution Documents and does not 
		conflict with any agreements entered into by the Borrower. </li>
	<li>The Borrower shall make all such filings required with governmental authorities as may be necessary and appropriate for the 
		purpose of creation and / or perfection of the Security Interest created under this Deed. </li>
	<li>The Lender or its nominees, with prior written notice of 3 (three) days and at the expense and risk of the Borrower, shall be entitled at all times, to enter any place where the said Hypothecated Property may be inspected or examined and take particulars of all or any part of the said Hypothecated Property and check 
		any statement, accounts, reports and information, with respect to the same.</li>
	<li>Upon the occurrence of an Event of Default that is not remedied by the Borrower within the Cure Period, the Lender shall have the right and permission to enter the premises or location where the Hypothecated Property are located and seize, recover, receive and remove and / or sell by public auction or by private contract and any other manner as deemed fit by the Lender, any part of the Hypothecated Property and to enforce, realize, settle, compromise and deal with any rights or claims relating thereto without being bound to exercise any of these powers or be liable for any losses in the exercise or non exercise thereof. The Lender may exercise the aforementioned rights without any notice and without assigning any reason and at the risk and expense of the Borrower, and without prejudice to the 
		Lender’s other rights and remedies under the Definitive Agreements.</li>
	<li>The Lender shall release the Security Interest in the Hypothecated Property on the receipt of all the Outstanding Amounts.	
		</li>
	<li>Clause 12 of the Facility Agreement shall apply <i>mutatis mutandis</i> to this Deed. </li>
</ol>

<footer class="footer"></footer>
<div style="text-align: center;"><b>SCHEDULE 1 <br>
	SPECIFIC DETAILS OF THE BORROWER</b>
	

<table border="1" style="border-collapse: collapse;font-size:12px">
<tr><thead><td>Sl. No.</td><td>Title</td><td>Details</td></thead></tr>
<tr><td>1.</td><td>Place of execution</td><td></td></tr>
<tr><td>2.</td><td>Effective Date</td><td></td></tr>
<tr><td>3.</td><td>Name(s) of borrower(s)</td><td>
	<u><%= data.company_name %></u><br>
	
	<% for (dir of data.directors) { %>
		<%  if (dir.liability=="1") { %>
		  <br><%= dir.full_name %> 
	  <% } } %>
</td></tr>
<tr><td>4.</td><td>Sanction Letter reference No. and date</td><td> <%= data.applicationref %>  Date: <%= day %> <%= month %> / <%= year %></td></tr>
<tr><td>5.</td><td>Address and E-Mail ID for communication to the Borrower </td><td></td></tr>
</tr>


</table></div>
<br>

<p><b>IN WITNESS WHEREOF,</b> the Parties have executed this Deed on the Effective Date.<br>

	Signed and delivered for and on behalf of the Borrower
</p>

<div style="display: flex;">
	<div style="flex: 1;">
		<br><br>
		<b>_________________<br>
		Authorized Signatory <br>
		Name : <br>
		Date:	<br>
		</b>
		<br>
		<p>Signed and delivered for and on behalf of<br>
			<br>
	    <b>SAMUNNATI FINANCIAL INTERMEDIATION & SERVICES PRIVATE LIMITED</b></p>
		<br><br>
		<b>_________________<br>
			Authorized Signatory <br>
			Name : <br>
			Date:	<br>
			</b>

	</div>

	
</div>
</div>


</div>
</body>
</html>