
<html>
    <head>
    <style>
    
    @media print {
      footer {page-break-after: always;}
    }
    
    
    .modal-xl {
        margin-left: auto !important;
        margin-right: auto !important;
    background-color:blue;
        
    }
    
    body{
     
      font-size:12px;
      font-family: Calibri;
    }
    .right {
      position: absolute;
      right: 0px;
      width: 300px;
      height:100px;
      padding-top:30px;
    }
    .left {
      position: absolute;
      left: 0px;
      height:80px;
      margin-left: 100px;
    }
    
    p{
    font-size:12px;
    padding:5px;
    }
    
    .header{
    height:120px;
    }
    
    .data{
    text-align:left;
    position:relative;
    }
    
    .footer {
    bottom:0px;
    }
    
    ol{
    font-size:12px;
    }
    li{
    font-size:12px;
    padding:5px;
    }
    
    td {
    padding:5px;
    }
    </style>
    
    </head>
    <% 
    var dt = new Date();
   
    year = dt.getFullYear() 
    month = dt.getMonth() + 1
    monthname = dt.toLocaleString('default', { month: 'short'});
    day = dt.getDate();
   
    %>
 
    <body align="left" style=" margin-top: 20px;  margin-bottom: 10px;  margin-right: 100px;  margin-left: 100px;">
    
    
    
    
    <div class=" ">
      <div class="header">
      <img src="https://mlslxw0xad5d.i.optimole.com/uSNfBEo-5YLb7mqp/w:auto/h:auto/q:90/https://samunnati.com/wp-content/uploads/2021/05/Samunnati-logo-with-Registered.png" class="left"/>
      </div>
    </div>
    <div >
      <h1><u>Term Loan Agreement</u></center> </h1>
    </div>
     
      <div class="data" style="text-align:left;font-size:12px;margin-top:30px;">

<p>
<div style="text-align: justify;">
<p>
This Agreement is made at the place and date as specified in Sl. No. 1 and Sl. No. 2 of the Schedule to this Agreement respectively between such persons, whose name(s) and address(es) are as specified in Sl. No.3 of the Schedule (hereinafter referred to as the “Borrower”, which expression shall unless repugnant to the context or meaning thereof shall include its successors and permitted assigns); AND
Samunnati Financial Intermediation & Services Pvt. Ltd., a Non-Banking Financial Company registered with the Reserve Bank of India and having its registered office at Baid Hi-Tech Park, 129-B, 8th Floor, East Coast Road, Thiruvanmiyur, Chennai – 600041, Tamilnadu, India (hereinafter referred to as “Samunnati”, which expression shall unless repugnant to the context or meaning thereof shall include its successors and assigns).
(The Borrower and Samunnati, wherever the context so admits, are hereinafter individually referred to as “Party” and collectively as “Parties”)
WHEREAS the Borrower has requested Samunnati and Samunnati has agreed to provide a Facility up to the limit(s) as specified in Sl.No. 8 of the Schedule, with full power to Samunnati from time to time to reduce or altogether withdraw the Facility, on the terms and conditions appearing herein and the Sanction Letter, details of which are specified in Sl.No. 6 of the Schedule.
NOW, THEREFORE, in consideration of the foregoing and other good and valuable consideration, the receipt and adequacy of which are hereby acknowledged, the Parties hereto hereby agree as follows :
</p>
<br>
<br>
<ol>
<li>
  DEFINITIONS AND INTERPRETATIONS:
  <br>
  <p>
    “Agreement” means this term loan agreement for the grant of the Facility executed at the place and date as specified in Sl.No. 1 and Sl. No. 2 of the Schedule respectively between the Borrower and Samunnati, as amended, amended and restated, modified or supplemented from time to time.
    “Applicable Law” shall include any statute, law, regulation, ordinance, rule, judgement, rule of law, order, decree, clearance, authorisation, approval, directive, guideline, policy, requirement, governmental restriction or any similar form of decision, or determination by, or any interpretation or administration of any of the foregoing by, any statutory or judicial or regulatory authority, whether in effect as on the date of this Agreement or thereafter, and in each case as amended, modified or substituted from time to time.
    “Business Day” means a day on which the lending office of Samunnati in respect of the Facility through which the Borrower has to make payment or repayment in respect of the Facility, is open for normal business transactions.
    “Default rate” shall have the meaning ascribed to the term in Clause 3.5.
    “Event(s) of default” means any of the events or circumstances as specified in Clause 9.
    “Facility” means the loan facility, up to the limit(s) specified in Sl.No. 8 of the Schedule, granted by Samunnati to the Borrower in accordance with the terms and conditions of this Agreement.
    “Financing Documents”  shall mean and include this Agreement, the Sanction Letter, the Security Documents and such other documents as may be executed by the Borrower/guarantor in favour of Samunnati in connection with the Facility and shall include any other document designated as such by Samunnati.
    “Guarantor(s)” shall mean all persons who have provided/shall provide a guarantee in favour of Samunnati in connection with the Facility in terms of the Financing Documents.
    “Interest Rate” shall mean the rate of interest as set out in Sl. No. 11 of the Schedule and as may be reset from time to time in accordance with this Agreement.
    “Loan” means the principal amount outstanding for the time being under the Facility.
    “Sanction Letter”  means the letter conveying the terms of sanction of the Facility by Samunnati to the Borrower and having reference number as mentioned in Sl. No. 6 of the Schedule, which expression shall include any amendments or modifications made from time to time and shall include any sanction letters or any other communication by physical or electronic means subsequently issued which has the effect of amending or modifying the terms.
    “Security” shall have the meaning ascribed to the term in Clause 6 hereof.
  </p>

</li>
<li>
  FACILITY 
  <br>
  <p>
    2.1	At the request of the Borrower, Samunnati agrees to provide to the Borrower and the Borrower agrees to avail the Facility on the terms and conditions contained herein and supplemented by the terms and conditions specified in the Sanction Letter, the details of which are specified in Sl. No. 6 of the Schedule. The disbursement of the Facility shall be made by Samunnati in Indian Currency (INR) only.
    2.2	Samunnati agrees, based on the disbursement request, representations, warranties, covenants and undertakings contained herein and in the application for availing the Facility and other documents executed or tendered by the Borrower in relation to the Facility, to disburse the Facility, at its sole discretion, either in lumpsum or in instalments, to the Borrower and the Borrower agrees to borrow from Samunnati, the Facility for an aggregate amount not exceeding the limit specified in Sl.No. 8 of the Schedule on the terms and conditions contained in this Agreement. 
    2.3	The Borrower agrees and acknowledges that the Facility shall be utilised only for the purpose specified in Sl.No. 9 of the Schedule. It shall produce to Samunnati necessary documents to evidence such utilisation of the Facility, as may be required by Samunnati. Under no circumstances shall the Facility be utilised by the Borrower for, directly or indirectly : (i) subscribing to or purchasing any shares/debentures; (ii) extending loans to its affiliates, directors, partners or making any inter corporate deposits etc.; (iii) entering into any speculative transactions or activities; and (iv) carrying out any activities not eligible for bank credit as per the RBI Guidelines. 
    2.4	Adjustment of amounts payable by the Borrower : Samunnati may deduct from the sums to be lent to the Borrower, any imposts, costs, duties, taxes, levies, fees, insurance premia and other charges and expenses (including any penalty thereon, if applicable) then remaining due and payable by the Borrower to Samunnati pursuant to this Agreement. The Borrower hereby authorises Samunnati to deduct such sums from the amount of Facility to be disbursed and adjust the amounts so deducted against the monies then remaining due and payable by the Borrower to Samunnati under or pursuant to this Agreement or under any other Agreement(s) that the Borrower has entered into with Samunnati in the past.
   
  </p>
</li>

<li>
REPAYMENT AND INTEREST ON FACILITY :
<br>
3.1	The Borrower shall repay to Samunnati all the amounts outstanding under the Facility so availed under this Agreement on the terms and conditions specified in Sl. No.13 of the Schedule. 
3.2	The Borrower shall repay the Facility on each Repayment date in accordance with the Repayment Schedule and in accordance with the terms of this Agreement. Credits for all payments by cheques, demand drafts, RTGS etc. will be given on realisation of the amount. Any payment which is due to be made on a day that is not a Business Day shall be made on the immediately preceding Business Day.
3.3	The Borrower agrees to pay interest on the Facility at the rate and as per the schedule provided in Sl.No. 11 of the Schedule. Interest on the Facility shall be computed and debited to the Facility account of Samunnati at the intervals stated in Sl.No. 11 of the Schedule. Such interest shall be computed on the monthly rests basis taking a year of 365 days as the base.
3.4	The Borrower is aware and confirms that Samunnati shall at any time and from time to time be entitled to review the rate of interest, and such revised rate of interest shall always be construed as agreed to be paid by the Borrower. 
3.5	Default rate : Without prejudice to the obligations of the Borrower under this Agreement and other financing documents, if any, the Borrower shall pay Default Interest at the rate as specified in Sl.No. 12 of the Schedule or any other rate as may be communicated by Samunnati to the Borrower (“Default Rate”) over and above the rate of interest as specified in Sl.No. 11 of the Schedule on all the amounts outstanding under the Facility upon failure of the Borrower to pay any Facility obligations/instalments or to comply with any terms and conditions specified in this Agreement. Such default interest will be computed from the respective due date of payment or from the date of non-compliance of the terms of this Agreement, as the case may be, until the date on which the Borrower has repaid/reimbursed such amounts or complied with such terms of this Agreement for which the default had occurred, and shall become payable upon the footing of the compound interest with monthly rests as provided in this Agreement and shall be payable by the Borrower immediately on demand by Samunnati. Provided however, such Default Interest under this Agreement shall not prevent Samunnati from declaring an Event of Default for delay/default by the Borrower and shall not prejudice the exercise of any rights and remedies available to Samunnati upon the occurrence of an Event of Default.
3.6	The Borrower acknowledges that the Facility provided under this Agreement is for a commercial transaction and waives any defence available under usury or other laws relating to the charging of interest by Samunnati.
</li>

<li>
UNCONDITIONAL CANCELLATION
<br>
Samunnati shall have an unconditional right to cancel undrawn/unavailed/unused portion of the Facility at any time during the subsistence of the Facility, without any prior notice to the Borrower, for any reason whatsoever. In the event of such cancellation, all the provisions of this Agreement and other financing documents, if any, shall continue to be effective and valid and the Borrower shall repay the Facility obligations in accordance with the terms of this Agreement
</li>
<li>
FEES, CHARGES, COSTS AND CLAIMS 
Samunnati shall be entitled to debit all amounts due and payable by the Borrower under this Agreement including, but not limited to, interest, tax, fees, stamp duty, processing fee, costs, service charges, prepayment charges, including on account of execution and stamping of this Agreement and any other documentation or security creation pursuant to this Agreement (“Financing Documents”), claims and expenses including expenses which may be incurred by Samunnati in the enforcement or attempted enforcement of security created in favour of Samunnati, to the Borrower’s Facility account.
</li>

<li>
SECURITY AND GUARANTEE   
6.1	All the amount payable by the Borrower to Samunnati pursuant to this Agreement shall be guaranteed (“Guarantee”) and secured in such manner as specified in Sl.No.  15 and Sl.No. 14 respectively in the Schedule.
6.2	Samunnati shall be entitled to call upon the Borrower and the Borrower shall be liable to furnish to Samunnati additional and/or alternate Security as decided by Samunnati in the event of any substantial deterioration in the value of Security within 30 days of receipt of notice to this effect from Samunnati.
6.3	The Borrower shall, in relation to this Agreement, execute any bonds, documents, powers of attorney, undertakings and agreements as may be required by Samunnati at any time during the pendency of this Facility. 
6.4	Continuing security : The Security(ies) created by the Borrower for the Facility granted by Samunnati under this Agreement shall be and remain a continuing security(ies) to Samunnati and accordingly shall:
(i)	be binding upon the Borrower and their respective successors in title
(ii)	extend to cover the Borrower’s outstanding hereunder
(iii)	be discharged only upon payment by the Borrower of all outstanding to Samunnati or 	otherwise being released by Samunnati.
(iv)	be in addition to and not in substitution for or derogation of any other Security which Samunnati may at any time hold in respect of the Borrower’s indebtedness/obligations hereunder, and
(v)	be security for all the amounts due and payable by the Borrower for all the monies due by the Borrower to Samunnati, whether under this Agreement or otherwise.
6.5	The Borrower agrees that Samunnati shall have the right to receive and adjust any payment(s) that it may receive as an assignee of the insurance in its capacity as “Loss Payee”, in relation to the assets of the Borrower, towards the Facility obligations under this Agreement.
</li>

<li>
SAMUNNATI’S RIGHTS   
7.1	Subject to applicable Laws and regulations of the RBI, Samunnati shall have the sole right at any time during the tenure of this Agreement to revise/reschedule the repayment terms of any amounts outstanding under the Facility and the Borrower shall make all future payments thereafter to Samunnati according to such revised schedule on being notified by Samunnati of such revision.
7.2	Samunnati shall have the right to enter the property/premises where the Borrower is carrying out his business/activity or any of the security properties, if any, inspect the books of accounts/assets and records maintained by the Borrower, the cost of which shall be borne by the Borrower.
</li>
<li>
BORRWER’S REPRESENTATIONS, WARRANTIES, COVENANTS AND UNDERTAKINGS 
With a view to induce Samunnati to grant the Facility to it, the Borrower hereby represents, warrants, covenants and undertakes to Samunnati that :
8.1	It has the power and authority to execute, deliver and perform its obligations under the Loan Agreement
8.2	It is in compliance with all applicable law and has obtained all clearances and authorisations
8.3	Each of the Financing Document when executed by the Borrower constitutes legal, valid and binding obligations of the Borrower, enforceable in accordance with its terms.
8.4	The execution and performance of the Financing Documents do not conflict any other agreements/applicable laws/its constitutional documents.
8.5	Save and permitted under the Financing Documents, no encumbrance or security interest exists or will exist over any of the assets secured/to be secured by the Borrower.
8.6	No event of default has occurred or will occur upon execution of/disbursement under the Financing Documents. 
8.7	All information(s) provided to Samunnati is/are true and correct.
8.8	Save and except as otherwise provided in the Financing Documents, its Loan/Facility obligations under the Financing Documents rank at least pari passu with the claims of all its other unsecured and unsubordinated creditors, except for obligations mandatorily preferred by Applicable Law.
8.9	It does not have any right of immunity from legal proceedings or under contract.
8.10	No action has been taken (voluntary or involuntary) for its liquidation/insolvency/restructuring, including under Insolvency and Bankruptcy Code, 2016. It has no major pending claims, demands, litigation or proceedings against it before any Court or authority (public or private).
8.11	It has obtained and validly maintaining all insurances and reinsurances in respect of all its assets in accordance with the Applicable Law. It hereby undertakes that it shall, at all times during the pendency of the Facility, at its own cost keep the property and assets constituting Samunnati’s Security fully insured against such risks and for such amounts and for such period and form as Samunnati may require and shall deposit the insurance policies with Samunnati.
8.12	It hereby agrees and undertakes that no such person(s) whose name(s) is appearing in the list of Wilful Defaulters by RBI/CIC/in any caution list, shall be inducted into its Board and that in case, such a person is found to be on its Board, it would take expeditious and effective steps for removal of such person(s) from its Board.
8.13	No director of Samunnati is a  director, manager, managing agent, employee or guarantor of the Borrower, or of a subsidiary or holding company or other group companies of the Borrower, or holds substantial interest, in the Borrower or a subsidiary or the holding company or any other group company of the Borrower. No director/relative of any other bank or financial institutions holds substantial interest or is interested as director or as a guarantor of the Borrower.
8.14	It shall furnish to Samunnati its unaudited half yearly income statements within 60 (sixty) days of such semi-annual period and copies of audited financial statements including balance sheet and profit & loss account within 120 (one hundred and twenty) days from the end of each financial year, and any other documents as required by Samunnati from time to time.
8.15	It shall not enter into any scheme of merger, amalgamation, compromise or reconstruction, nor shall transfer its control or management to any other person(s) or make any material changes to its incorporation documents without prior written consent of Samunnati.
8.16	It shall make available to Samunnati such Security in such form and substance as may be required by Samunnati and shall always, until all its dues hereunder are repaid to Samunnati, have a clear and marketable title to the property or assets mortgaged, pledged or hypothecated or in any other manner provided as Security towards the Facility, free from all encumbrances whatsoever, and shall not, during the tenure of the Facility either part with possession or create any third party rights in the property or assets constituting Samunnati’s security or any part thereof (whether by way of sale, exchange, lease mortgage, transfer, agreement, option or otherwise).
8.17	It is competent to apply for and avail the Facility under this Agreement as per the laws of Republic of India and is competent to sign and deliver the Facility Documents for availing this Facility.
8.18	It shall not, during the tenure of this Agreement, avail of or obtain any further loan or credit facility from whatsoever source, that is secured by the Security offered/given to Samunnati without the prior written consent of Samunnati. 
8.19	It shall, in addition to the financial statements required by Samunnati, furnish such other information/documents pertaining to its trade, business, profession or otherwise as Samunnati may require from time to time and shall promptly inform Samunnati any loss or damage to the Security or any other development(s) that may have any material adverse impact on the trade, business, profession or otherwise which may lead to an Event of Default.
8.20	It undertakes that Samunnati may disclose any information related to the Borrower, the Facility and/or any default or delay in payment whatsoever made by the Borrower under the Financing Documents, to the Credit Information Bureau of India or to any such organisation permitted and registered with the Reserve Bank of India or to CRILC or to Reserve Bank of India themselves.
8.21	The Borrower shall duly register any charge created on its assets pursuant to the Agreement with the Registrar of Companies as provided under the Companies Act, 2013, and rules thereunder, at its own cost. (Applicable to Corporate Borrowers only).
8.22	Other Covenants:
The Borrower covenants to Samunnati that:
a)	It shall comply with all laws (including Environmental and Social Laws) applicable to the Parties.
b)	It agrees that it shall not directly or indirectly, take part in or financing any activity, production, use of, trade in, distribution of, or otherwise involved in any Excluded Activity.
c)	It shall put in place appropriate procedures and policies to restrict its employees, consultants or other agents from causing breach of (a) any conditions, covenants or undertakings under this [agreement] and (b) Environmental and Social Laws.
d)	It shall indemnify Samunnati from environmental and social risks of their members and will institute mechanisms to identify and manage the environmental and social risks of their members.
e)	The borrower shall, if required by Samunnati, shall finalize an E&S Action Plan and comply with the milestones provided therein. 
f)	It shall deliver to Samunnati, such information on the [project] as may be considered necessary or desirable to Samunnati, and to report on serious incidents within 24 hours (including, without limitation, explosions, any workplace accidents that result in death, serious or multiple injury, material pollution, or any violent labor unrest or dispute between the Company and local communities).
g)	It shall promptly, upon receiving 7 days prior notice from Samunnati] permit Party Samunnati (through its representatives, delegates or persons nominated by it), to inspect, examine and audit, the operations, business and activities of Borrower.  
</li>
<li>
EVENTS OF DEFAULT 
The occurrence or likely occurrence of any of the following events and/or circumstances (at the sole discretion of Samunnati) shall constitute event(s) of default (”Event(s) of Default”).

9.1	The Borrower commits any default in the payment of interest, principal, other charges or any other amounts due to Samunnati under the terms of this Agreement or the Financing Documents.
9.2	The Borrower defaults in performing any of its obligations under this Agreement or the Financing Documents.
9.3	The Borrower(s) or the Guarantor(s) commit(s) any default in the payment of any amount to any person when due or any person demands repayment of the loan or dues of the Borrower(s) and/or Guarantor(s) ahead of its repayment terms or a moratorium is declared in respect of any indebtedness of the Borrower/Guarantor.
9.4	In the event of death, failure in business, going into liquidation/dissolution, amalgamation or reconstruction (except with the prior written approval of Samunnati), general assignment for the benefit of creditors or if the Borrower suspends payments to any creditor(s) or threatens to do so.
9.5	Filing of any petition by any person including, but not restricted to, Borrower themselves/himself and/or Guarantor, for winding up of the Borrower or the commencement of any proceedings to declare the Borrower and/or Guarantor insolvent.
9.6	Failure of the Borrower and/or Guarantor to create and perfect Security as stipulated in the Agreement.
9.7	The value of the Security created or tendered by the Borrower and/or Guarantor, in the sole discretion and decision of Samunnati, depreciates entitling Samunnati to call for further security and the Borrower and/or Guarantor fails to give such additional security.
9.8	If it is certified by an accountant of a firm of accountants appointed by Samunnati (which Samunnati is entitled and hereby authorised to do so at any time and from time to time)that the liabilities of the Borrower exceed the Borrower’s assets or the Borrower is carrying on business at a loss
9.9	If any circumstance or event occurs which is prejudicial or impairs or imperils or jeopardizes or likely to prejudice, impair, imperil, depreciate or jeopardize any Security given by the Borrower and/or Guarantor or any party thereof.
9.10	Appointment of Receiver in respect of the property/assets of the Borrower and/or Guarantor or if any attachment, distress, execution or other process against either the Borrower and/or the Guarantor, or any of the Security interest is enforced or levied upon by any third party (if applicable)
9.11	If the Facility or any part thereof is utilised for any purpose other than the purpose for which it is applied by the Borrower and sanctioned by Samunnati.
9.12	If the Borrower and/or Guarantor attempts or purports to create any security interest (other than permitted under the Financing Documents) over any of its assets which are charged in favour of Samunnati.
9.13	There is a change in the control of the Borrower and/or Guarantor (either directly or indirectly) without the prior written consent of Samunnati
9.14	If the Borrower fails to furnish to Samunnati detailed end use statements of the Facility as and when required by Samunnati within the time prescribed by Samunnati.
9.15	Any of the Financing Documents ceases to exist, to be valid, effective, enforceable or is terminated in a manner not in accordance with the terms of that Financing Document.
9.16	Any person makes or threatens to make any application under the Insolvency & Bankruptcy Code, 2016, and/or any notice is received in relation to the same.
</li>
<li>
CONSEQUENCES OF EVENT(S) OF DEFAULT :
On and at any time after the occurrence of an Event of Default, Samunnati shall have the right to forthwith:
10.1	To declare that all or part of the Facility together with interest, default interest, costs and charges, be immediately due and payable and to recover such dues.
10.2	To cancel any undrawn commitment and suspend withdrawals under the Facility.
10.3	To enforce the Security.
10.4	To exercise such other rights as may be available to Samunnati under the Financing Documents and applicable law.
10.5	To appoint an observer on the Borrower’s Board
10.6	To convert the outstanding Facility obligations into equity or other securities. The Borrower shall provide shareholder resolution/authorisation allowing Samunnati the right to facilitate such conversions.
10.7	The Borrower agrees and undertakes not to prevent or obstruct Samunnati from taking possession of the assets comprising Security and that Samunnati’s representative(s) will be entitled to sell, give on rent, or otherwise deal with the assets comprising the Security by public or private auction or private treaty, without being liable for any loss, and to apply the net proceeds thereof towards the dues payable by the Borrower to Samunnati.
10.8	To adjust and set off all monies belonging to the Borrower standing to its credit in any account whatsoever with Samunnati, towards the dues payable by the Borrower to Samunnati.
10.9	The Borrower agrees that in case the Borrower commits a default in payment or repayment of any amount in respect of the Facility, Samunnati and/or Reserve bank of India will have an unqualified right to disclose or publish the details of the default and the name of the Borrower, its directors or partners as the case may be, as defaulters, in such manner and through such medium as Samunnati or the Reserve Bank of India in their absolute discretion may think fit.
</li>
<li>
ASSIGNMENT AND TRANSFER 
11.1	Samunnati shall have the right to sell or transfer (by way of assignment, securitisation or otherwise) whole or part of the Facility or any other rights and obligations of Samunnati under this Agreement or under any other Financing Document to any person/entity in a manner or under such terms and conditions as Samunnati may decide in its sole discretion without reference to or intimation to the Borrower.
11.2	The Borrower expressly agrees that in the event of sale or transfer as aforesaid, it shall accept such person/entity to whom the Facility is sold or transferred or assigned as the lender under this Agreement and make the repayments of the Facility to such person/entity as may be directed by Samunnati, to the extent of the portion of the Facility which has been sold/transferred/assigned.
11.3	The Borrower shall not be entitled to directly or indirectly assign, transfer or novate its rights or obligations under this Agreement in part or in whole to any person/entity.
</li>
<li>
MISCELLANEOUS 
12.1	The Parties agree that any delay or omission by Samunnati in exercising any of its rights, powers or remedies as the lender under this Agreement or under any Financing Document shall not impair  such right, power or remedy or be construed as waiver by Samunnati of such right, power or remedy.
12.2	It is hereby agreed between the Parties that the Schedule may be amended, revised or substituted by way of written communication by Samunnati to the Borrower from time to time.
12.3	Samunnati may, at its own discretion and without assigning any reason and upon written notice mailed or delivered to the Borrower, cancel the Facility herein granted and demand repayment thereof. Delivery of such notification by Samunnati shall constitute sufficient notice of such cancellation.
12.4	The Borrower hereby appoints Samunnati as its true and lawful attorney to do and execute for and in the name and on behalf of the Borrower, and where the Borrower is more than one individual, jointly and severally, all or any of the acts, deeds and things, specified in the Financing Documents.
12.5	Any notice or request required or permitted under this Agreement to be given by either Party to the other shall be only in writing, either in physical form or in electronic mode, and sent to the address/email of the other Party as mentioned in Sl.No. 15 of the Schedule, or in the case to the Borrower, to the address of the Borrower last known to Samunnati.

</li>

<li>
INDEMINITY 
The Borrower shall indemnify and keep Samunnati and each of its officers, directors, employees, representatives, legal counsels and agents indemnified against all action, suits, proceedings and all costs, charges, expenses, losses or damages which may be incurred or suffered by Samunnati by reason of any false or misleading information given by the Borrower to Samunnati hereunder or any breach/default/contravention/non-observance/non-performance by the Borrower of any terms, conditions, agreements and provisions hereunder or under any of the Financing Documents. 
</li>

<li>
DECLARATION BY THE BORROWER 
The contents of this Agreement including the contents of the annexes and Schedules hereto and all other Financing Documents executed in furtherance of this Agreement including but not limited to any security documents such as Sanction Letter, Deed of Hypothecation, Deed of Guarantee, Deed of Mortgage etc. have been read, translated and explained to the Borrower in a language known to the Borrower. The Borrower consents to the execution of the aforesaid documents, being of sound mind and capacity. The Borrower agrees to be bound by all the aforesaid documents and the Borrower fully understands the contents of the aforementioned documents and is fully aware of the implications thereof.
</li>

<li>
GOVERNING LAW AND JURISDICTION 
This Agreement shall be governed by, and construed and interpreted in accordance with, the laws of the Republic of India. Any dispute, controversy or claim arising out of or relating to the interpretation, application or performance of this Agreement, including its existence, validity or termination, shall be subject to the jurisdiction of the courts in Chennai, Tamilnadu.
All disputes, differences or claims of any kind whatsoever arising between the Parties hereto, out of or in connection with this Agreement, or the validity, interpretation, implementation or alleged breach of the terms of this Agreement or omitted to be done pursuant to this Agreement, shall be first attempted to be resolved amicably between the Parties by mutual negotiations within 30 (thirty) days of commencement of negotiations. Failing which, such dispute shall be referred to a sole arbitrator to be appointed by Samunnati. The arbitration proceedings shall be in accordance with the Arbitration and Conciliation Act, 1996, and shall be conducted in English. The arbitration shall take place at Chennai and shall be governed by the laws of India.
Nothing contained herein shall limit the right of Samunnati to initiate any proceedings in any court or tribunal of competent jurisdiction, nor shall the taking of Proceedings in one or more jurisdictions preclude the taking of Proceedings in any other jurisdiction whether concurrently or not.
</li>


</ol>



  </div>    
  <footer class="footer"></footer>
        <div >
          <h1><center><u>Schedule</u></center> </h1>
        </div>
    
<table border="1" style="border-collapse: collapse;font-size:12px;width:100%">
    <tr><td>	SI. NO.	</td><td>	Title	</td><td>	Details	</td></tr>
    <tr><td> 1  </td><td> Place of Execution 	 </td><td>		</td></tr>
    <tr><td> 2  </td><td> Date of the Agreement	 </td><td>		</td></tr>
    <tr><td> 3	</td><td> Name of the borrower(s)/executants of the document </td><td>	<%=data.company_name %>	</td></tr>
    <tr><td> 4  </td><td> Address of the borrower(s)/executants of the document </td><td>	<%=data.address %>	</td></tr>
    <tr><td> 5	</td><td> Address of the Office (NBFC)	 </td><td>	 Baid Hi Tech Park, 8th Floor,
      No.129-B, East Coast Road, Thiruvanmiyur, Chennai-600 041, State of Tamil Nadu, India.	</td></tr>
    <tr><td> 6	</td><td> Limits of the Loan (₹)   </td><td>	<%=data.questionnaire.loan_amount %> 	</td></tr>
    <tr><td> 7	</td><td> Nature of the Loan	 </td><td>	<%=data.questionnaire.loan_purpose %>  	</td></tr>
    <tr><td> 8	</td><td> Tenure of the Loan	 </td><td>	<%=data.questionnaire.loan_tenure %>  	</td></tr>
    <tr><td> 9	</td><td> Interest Rate   </td><td>	14% 	</td></tr>
    <tr><td> 10	</td><td> Processing Fee	 </td><td>	 	</td></tr>
    <tr><td> 11	</td><td> Penal Charges per month (%)	 </td><td>	 	</td></tr>
    <tr><td> 12	</td><td> Repayment Schedule	 </td><td>	 	</td></tr>
    <tr><td> 13	</td><td> Security	 </td><td>	 	</td></tr>
    <tr><td> 14	</td><td> Guarantee	 </td><td>	 	</td></tr>
    <tr><td> 15	</td><td> Cheque details	 </td><td>	 	</td></tr>
    <tr><td> 16	</td><td> Name of the Guarantors	 </td><td>	
      <% for (dir of data.directors) { %>
        <%  if (dir.liability=="1") { %>
        <%= dir.full_name %>, 
      <% } } %>  
    
    </td></tr>
  </table>
  Note :- This table is not exhaustive and shall be subject to modifications at the time of finalisation and execution of the loan
  documents.
<br><br>
<footer class="footer"></footer>
<div style="text-align:left">
  Signature of the Borrower

  <% for (dir of data.directors) { %>
    <%  if (dir.liability=="1") { %>
      <br>
      <br>    
      <br>_______________________________________________
      <br><%= dir.full_name %> 
      <br>   

  <% } } %>

  
      <br>_______________________________________________	 	 
      <br>Name, Signature, Address of the Witness

  </div> 
  <div style="text-align:right">
  
    <br>
    <br>
    <br> _______________________________________________________________ 
    <br>      Signature for and on behalf of (and Seal of)
            Samunnati Financial Intermediation & Services Pvt. Ltd.
    

    <br>  _______________________________________________	  
    <br>      Name of the Authorised Signatory

    <br>  _______________________________________________	 
    <br>      Name, Signature, Address of the Witness

</div> 
</div>

  </body>
  </html>