
<html>
  <head>
  <style>
  
  @media print {
    footer {page-break-after: always;}
  }
  
  
  .modal-xl {
      margin-left: auto !important;
      margin-right: auto !important;
  background-color:blue;
      
  }
  
  body{
   
    font-size:12px;
    font-family: Calibri;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    height:100px;
    padding-top:30px;
  }
  .left {
    position: absolute;
    left: 0px;
    height:80px;
    top:20px;
    margin-left: 100px;
  }
  
  p{
  font-size:12px;
  padding:5px;
  }
  
  .header{
  height:120px;
  }
  
  .data{
  text-align:left;
  position:relative;
  }
  
  .footer {
  bottom:0px;
  }
  
  ol{
  font-size:12px;
  }
  li{
  font-size:12px;
  padding:5px;
  }
  
  td {
  padding:5px;
  }
  </style>
  
  </head>
  <% 
  var dt = new Date();
 
  year = dt.getFullYear() 
  month = dt.getMonth() + 1
  monthname = dt.toLocaleString('default', { month: 'short'});
  day = dt.getDate();
 
  %>

    <body align="left" style=" margin-top: 10px;  margin-bottom: 100px;  margin-right: 100px;  margin-left: 100px;">
    
    
     <div class="left">
      <!-- <img src="https://mlslxw0xad5d.i.optimole.com/uSNfBEo-5YLb7mqp/w:auto/h:auto/q:90/https://samunnati.com/wp-content/uploads/2021/05/Samunnati-logo-with-Registered.png" /> -->
     </div>
     <div class=" ">

     <div style="margin-top: 300px;" >
      <h1><center><u>FACILITY AGREEMENT</u></center> </h1>
      </div>

      
      </div>
      
      <div class="data" style="text-align:justify;font-size:12px;margin-top:30px;">
       
<p>

    This facility agreement (“Agreement”) is made on the day, month and year set out in SCHEDULE 1 (“Effective Date”) at the place mentioned in SCHEDULE 1
    <br><br>BETWEEN <br><br>
    
    THE PERSON(S) NAMED IN SCHEDULE 1 AS THE ‘BORROWER’ (<%= data.fponame %>) (hereinafter referred to as the “Borrower” which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include its successors, representatives and permitted assigns)
    <br><br>
    AND
    <br><br>
    SAMUNNATI FINANCIAL INTERMEDIATION & SERVICES PRIVATE LIMITED, a company incorporated under the Companies Act, 2013 and a non-banking financial company registered with the RBI, having its registered office at Baid Hi Tech Park, 8th Floor, No. 129 B, East Coast Road, Thiruvanmiyur, Chennai - 600041 (hereinafter referred to as the “Lender” which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include its successors, representatives and permitted assigns).
    <br><br>
    The Borrower and the Lender are hereinafter referred to, wherever the context permits, individually as a “Party” and collectively as the “Parties”.
    <br><br>
    WHEREAS:
    <br><br>
    The Borrower has requested the Lender to provide the Facility for the Purpose, and the Lender, relying upon the representations and warranties of the Borrower, has agreed to provide the Facility in accordance with the terms and subject to the conditions of this Agreement.
    <br><br>
    NOW, THEREFORE, THE PARTIES HEREBY AGREE AS FOLLOWS:
     
    <ol>
        <li>	DEFINITIONS AND INTERPRETATION 
    
            <ol> <li>  Definitions. Capitalized terms, unless defined elsewhere in this Agreement, shall have the meaning assigned to such terms below: 
    
              <ol> <li>	“Agreement” means this Agreement, as amended from time to time, and shall include all the Schedules to this Agreement.</li>
    
                    <li>	“Board” means the board of directors of the Borrower.</li>

                    <li>	“Business Day” means a day on which the lending office of the Lender in respect of the Facility is open for normal business transactions, not being a Saturday, or a Sunday, or a public holiday.</li>

                    <li>	“CIBIL” means TransUnion CIBIL Limited, or any successor entity of TransUnion CIBIL Limited. </li>

                    <li>	“Constitution Documents” means (i) the memorandum of association, articles of association and certificate of incorporation of the Borrower, where the Borrower is a company, or (ii) the partnership agreement governing the partners of the Borrower, where the Borrower is a limited liability partnership.</li>

                    <li>	“Cure Period” shall have the meaning ascribed to it under Clause 11.1.</li>
    
                    <li>	“Deed of Hypothecation” means the deed of hypothecation of an even date, entered into between the Borrower and Lender, if any movable or intangible property is agreed to be provided by the Borrower as Security in respect of the Facility.</li>
    
                    <li>	“Default Rate” shall have the meaning set out in Clause 3.3.</li>
    
                    <li>	“Definitive Agreements” include this Agreement, and if applicable, the Deed of Hypothecation, Personal Guarantee, demand promissory note, post-dated cheques / NACH mandate, and any other agreements, instruments, or other documents executed by the Borrower in relation to the Facility.</li>
    
                    <li>	“Drawdown Date” shall mean such date(s) on which the Borrower draws the Facility (in whole or in part) in accordance with the terms of this Agreement.</li>
    
                    <li>	“Due Date” means the date(s) on which any amounts in respect of the Facility including principal, interest or other monies, fall due in terms of this Agreement and / or the other Definitive Agreements.</li>
    
                    <li>	“Event of Default” shall have the meaning set out in Clause 10.1.</li>
    
                    <li>	“Facility” means the facility extended by the Lender pursuant to this Agreement in accordance with the specific terms and conditions set forth in this Agreement (including the Sanction Letter). </li>
    
                    <li>	“Guarantor” means the person(s) named in the Sanction Letter as the guarantor.</li>
    
                    <li>	“Indebtedness” means any indebtedness whatsoever of the Borrower (including, without limitation, liabilities under guarantees or indemnities).</li>
    
                    <li>	“Law” includes all applicable statutes, enactments, acts of legislature or parliament, laws, ordinances, rules, bye-laws, regulations, notifications, guidelines, policies, directions, directives and orders of any governmental authority, statutory authority, tribunal, board, court or recognized stock exchange.</li>
    
                    <li>	“Outstanding Amounts” means, on a particular day, the amount outstanding in relation to the Facility, together with the accrued interest, the accrued Default Rate and any other expenses, fees, charges and costs, due to the Lender, under this Agreement and the Definitive Agreements.</li>
    
                    <li>	“Personal Guarantee” means, if applicable, the unconditional guarantee of an even date executed by the Guarantor in favor of the Lender, for guaranteeing the discharge of the Outstanding Amounts by the Borrower.</li>
    
                    <li>	“Purpose” means the purpose(s) for which the Lender has granted the Facility to the Borrower, more particularly specified in the Sanction Letter. </li>
    
                    <li>	“RBI” means the Reserve Bank of India.</li>
    
                    <li>	“Security” means all the security created by the Borrower and/or the Guarantor in favour of the Lender, as set out in the Sanction Letter.</li>
    
                    <li>	“Sanction Letter” means the final sanction letter signed by the Parties specifying the terms on which the Facility is granted to the Borrower, attached hereto as SCHEDULE 2.</li>
    
                </ol></li>
    
                 <li>	Interpretation. Unless specified elsewhere in this Agreement, this Agreement shall be interpreted using the rules of construction set out below:
    
                  <ol> <li>	A reference to: 
                                            <ol> <li>	a sub-Clause, Section or a Schedule of this Agreement shall denote a reference to such sub-Clause, Section or Schedule as specified, of this Agreement; </li>
                            
                                                <li>	the singular includes the plural (and vice versa);</li>
                            
                                                <li>	a gender shall include references to the female, male and other genders. </li></ol></li>
                    
                        <li>	The headings in this Agreement are inserted for convenience of reference only, and are to be ignored in construing and interpreting this Agreement. </li>
    
                        <li>	Reference to the words “include” or “including” shall be construed without limitation. The interpretation of general words shall not be restricted by words indicating a particular class or particular examples. </li>
    
                        <li>	Whenever any payment to be made or action to be taken under this Agreement is required to be made or taken on a day (“Scheduled Day”) other than a Business Day, such payment shall be made or action taken on the Business Day immediately preceding such Scheduled Day. </li>
    </ol></li></ol>
    
    
    
    <li>	FACILITY – DISBURSEMENT AND USE
    
                                    <ol><li>	Relying upon the Borrower’s representations and warranties, and subject to the terms and conditions set forth in this Agreement and in the other Definitive Agreements, the Lender shall extend the Facility to the Borrower to the extent of the limit set out in the Sanction Letter. </li>
                                    
                                        <li>	The Lender shall disburse the Facility in lumpsum or in instalments in the manner agreed in writing between the Lender and the Borrower. If the Facility is a revolving facility, the total limit of the Facility, and the period up to which such limit shall be available, shall be as set out in the Sanction Letter.</li>
                                    
                                        <li>	The Borrower shall provide such amounts towards the margin requirements on the Facility (if any), as may be set out in the Sanction Letter. </li>
                                    
                                        <li>	The Borrower shall use the Facility only for the Purpose. The Borrower shall provide such evidence of the use of the Facility as may be reasonably requested by the Lender from time to time.</li>
                                    
                                        <li>	The Borrower shall not use the Facility, either in part or full, for (i) subscribing to or purchasing any shares/debentures or any other capital market transactions; (ii) extending loans to any of its subsidiaries, affiliates, directors, or partners; (iii) making any inter corporate deposits; (iv) entering into any speculative transactions or activities; or (v) carrying out any activities not eligible for bank credit as per Law.</li>
                                </ol></li>           
    
    <li>	INTEREST AND REPAYMENT
    
                        <ol><li>	The Borrower shall pay interest on the outstanding principal amounts of the Facility at the interest rate, in the manner and on the dates specified in the Sanction Letter.</li> 
    
                            <li>	The Borrower shall repay the Facility on the Due Date(s) as set out in the Sanction Letter.</li> 
    
                            <li>	All Outstanding Amounts that have not been paid by the Borrower on the respective Due Date(s), shall carry additional interest at the default rate set out in the Sanction Letter (“Default Rate”). Further, the Lender shall be entitled to charge the Default Rate in respect of any Outstanding Amounts, if the Borrower fails to comply with any covenants under this Agreement for more than 60 (sixty) days. Such interest will be computed from the respective Due Date(s) and shall become payable within such time as may be prescribed by the Lender. The Borrower hereby expressly confirms and acknowledges that the Default Rate under this Clause 3.3 is reasonable and that it represents a genuine pre-estimate of the loss expected to be incurred by the Lender in the event of nonpayment of any monies by the Borrower. It is clarified that any interest at the Default Rate payable shall be in addition to the interest at the regular rate payable by the Borrower. The application of the Default Rate to the Outstanding Amounts shall be without prejudice to any other rights available to the Lender under the Definitive Agreements. </li> 
    
                            <li>	The interest payable by the Borrower shall be subject to changes, inter alia based on the Lender’s internal policies and based on the applicable guidelines / directives issued by the RBI from time to time. </li> 
    
                            <li>	The Borrower acknowledges that the Facility provided herein is for a commercial transaction and the Borrower hereby explicitly waives any defense that may be available to it under usury or other laws relating to the charging of interest.</li> 
    
                            <li>	Interest and all other charges shall accrue at monthly rests and shall be computed on the basis of a 365 (three hundred and sixty-five) day year for the actual number of days elapsed. </li> 
                        </ol></li>
    
    
    <li>CANCELLATION
    
                                    The Lender shall have an unconditional and unilateral right to cancel any undrawn / unavailed / unused portion of the Facility at any time during the subsistence of the Facility, for any reason whatsoever, with a prior notice of 5 (five) Business Days. 
     </li>



     <li>	OTHER TERMS OF PAYMENT
    
                            <ol> <li>	The Borrower shall pay or reimburse all: (a) sums paid and / or expenses incurred by the Lender (including stamp duty, registration, filing charges, and such other expenses) in connection with the Definitive Agreements, including the processing fee and documentation charges as set out in the Sanction Letter. All amounts payable under this Clause 6.1 shall form part of the Outstanding Amounts.</li>
    
                              <li>	All monies payable by the Borrower to the Lender shall be paid into such account(s) as the Lender may notify to the Borrower and shall be so paid as to enable the Lender to realize, at par, the amount on or before the relevant Due Date. Credit for all payments by cheque, bank draft or RTGS will be given only on realization or on the relevant Due Date, whichever is later. </li>

</ol></li>
    

    <li>	SECURITY
    
                  <ol><li>The Borrower hereby secures the payment and performance in full of the Outstanding Amounts by creating the Security in favour of the Lender in accordance with the specific terms and conditions set forth under the Definitive Agreements.</li>
                        
                   <li>	Unless agreed otherwise between the Parties, the Security shall always rank and continue to rank senior to any security created in favour or for the benefit of any other creditor of the Borrower, and shall continue until the Outstanding Amounts are repaid in full. Upon payment to the Lender in full and in cash of the Outstanding Amounts by the Borrower, the Lender shall, at Borrower’s sole cost and expense, release the Security and all rights therein shall revert to the Borrower or the Guarantor, as the case may be. This Clause 7.2 shall survive the termination of this Agreement.</li>
                        
                   <li>	Upon the payment of all Outstanding Amounts, any undated cheques provided by the Borrower to the Lender shall be destroyed by the Lender.</li>
        
                </ol></li>                   


    <li>	REPRESENTATIONS AND WARRANTIES
    
                                     <ol><li>	The Borrower hereby expressly represents and warrants that each of the representations and warranties set out below is true and accurate as on the Effective Date and shall continue to be true and accurate as on each Drawdown Date. </li>
                                        
                                        <li>	Authority and Capacity
                                        
                                                        <ol><li>	The Borrower has been duly incorporated and organized, and is validly existing in good standing, under the Law of the country of incorporation. </li>
                                                            
                                                            <li>	The Borrower has the legal right, power and authority to enter into, deliver and perform its obligations under the Definitive Agreements, and the Definitive Agreements, when executed, will constitute valid and binding obligations and be enforceable against the Borrower in accordance with their respective terms. </li>
                                                            
                                                            <li>	The authorised representative of the Borrower has duly and validly executed the Definitive Agreements.</li>
                                                            
                                                            <li>	All consents, and actions of, filings with and notices to any governmental or regulatory authority, as may be required to be obtained by the Borrower in connection with the execution, delivery and performance by the Borrower of the Definitive Agreements have been obtained.</li>
                                                            
                                                            <li>	The execution and delivery of, and the performance of its obligations pursuant to, the Definitive Agreements by the Borrower, will not result in any material violation of, or materially conflict with, or constitute a material default under Law, the Constitution Documents, or any agreements executed by the Borrower, including by way of breaching any borrowing limits applicable to the Borrower.</li>
                                        </ol></li>                   
                                       
                                       <li>	Borrowings and Encumbrances
                                        
                                                        <ol><li>	All the borrowings made by the Borrower and/or its group companies, if any, are current, and there has been no event of default in respect of any existing borrowings of the Borrower or its group companies.</li> 
                                                        
                                                            <li>	The Borrower has good title to the assets forming part of, and no encumbrances exist over, the Security proposed to be created under the Definitive Agreements. </li> 
                                       </ol></li>               
                                       
                                       <li>	Compliance with Laws
                                        
                                                        <ol><li>	The Borrower, and its subsidiaries, if any, have conducted and are conducting their business in material compliance with the Laws that are applicable to them, including, but not limited to, tax laws, labour laws, environmental laws and social laws. The Borrower is not in material violation of any Law to its knowledge.</li>
                                                        
                                                            <li>	The names of the Borrower, the Borrower’s directors, partners or group company, and/or the Guarantor, do not figure in any list of willful defaulters circulated by the RBI or any bank and financial institution nor do the names of directors appear in caution list issued by RBI / CIBIL etc.</li>
                                                        
                                                            <li>	There are no material claims, demands, litigation or proceedings pending against the Borrower before any court, tribunal (public or private) or other governmental authority.</li>
                                       </ol></li>               
                                        
                                       <li>	Disclosures
                                        
                                        <ol><li>	All information relating to the Borrower, including its operations, financial conditions, assets and liabilities, intellectual property, organization, tax, employment related matters, compliance matters, litigation and environmental matters, required to be known by any prudent lender, has been disclosed to the Lender.</li>
                                        
                                    
                                        </ol></li> 
                                        
                                    </li></ol>


    <li>	COVENANTS AND UNDERTAKINGS
    
        <ol><li>	Affirmative Covenants 
    
                                The Borrower hereby covenants and agrees that until the Outstanding Amounts are fully paid off, the Borrower shall comply with the following covenants:
                                
                                <ol><li>	The Borrower shall ensure that it and its employees, agents and consultants materially comply with all applicable Laws (including environmental and social Laws). </li>
                                
                                    <li>	The Borrower shall notify the Lender of any change in the Borrower’s bank account, and provide a fresh NACH mandate in respect of such account, if required by the Lender.</li>
                                
                                    <li>	The Borrower shall execute any further instruments and take any further action as the Lender may reasonably request to give effect to the transactions contemplated under the Definitive Agreements or to perfect or continue the Lender’s interest in the Security.</li>
                            </ol></li>
    
       <li>	Negative Covenants 
    
                                    The Borrower hereby covenants and agrees that until all the Outstanding Amounts are fully discharged to the satisfaction of the Lender, the Borrower shall not, without the prior written approval of the Lender (which approval shall not be unreasonably withheld):
                                    
                                    <ol><li>	use the Facility for anything other than the Purpose;</li>
                                    
                                        <li>	contract, create, incur, assume or suffer to exist any Indebtedness, secured or unsecured; </li>   
                                    
                                        <li>	appoint any person to its Board, if the name of such person is present on any list of willful defaulters circulated by the RBI or any bank and financial institution or any caution list issued by RBI / CIBIL;</li>
                                    
                                        <li>	sell, transfer or create any encumbrance on all or any part of the assets that comprise the Security; or </li>
                                    
                                        <li>	pay any amounts to its promoter, directors, managers, group companies or other related persons (including the Guarantor), including any repayment of unsecured loans, or any fees or commission for furnishing guarantees (including the Personal Guarantee), counter guarantees or indemnities.</li>
                            </ol></li>     
                                    
    <li>Information Rights
    
    The Borrower shall promptly, where applicable:
    
    <ol><li>	deliver to the Lender, each of the following: 
    
    (a)	consolidated and standalone unaudited financial statements of the Borrower (including off-balance sheet commitment / guarantees) on a half-yearly basis within 60 (sixty) days from the end of each financial half-year; and
    
    (b)	consolidated and standalone annual audited financial statements within 180 (one hundred and eighty) days from the close of the financial year; 
    
</li>

    <li>	deliver to the Lender any information or documents as may be reasonably required by the Lender in relation to the Facility, from time to time.</li>
    
    </ol></li> 
</li></ol>



    <li>	EVENTS OF DEFAULT
    
        <ol><li>	Any one of the following shall constitute an event of default (“Event of Default”) under this Agreement:
    
                           <ol><li> 	default in the payment of any monies in respect of the Facility, including any Outstanding Amounts, on the Due Date(s);  </li>
                            
                               <li>	    breach of any other term or condition of this Agreement; </li>
                            
                               <li>	    any impairment or depreciation in the value of the Security;</li>
                            
                                <li>	a petition, filed by any creditor against the Borrower under the Insolvency and Bankruptcy Code, 2016 for default in making any payments, is admitted and such admission is not revoked within 30 (thirty) days of such admission;</li>
                            
                                <li>	an event of default howsoever described occurs under any other agreement or document relating to any Indebtedness of the Borrower or the Guarantor; or </li>
                            
                                <li>	any other event that would constitute an event of default under transactions of similar nature.</li>
      </ol></li> 
    </ol></li>


    <li>	CONSEQUENCES OF EVENT OF DEFAULT
    
        <ol><li>	The Lender shall be entitled to exercise its rights under this Clause 11, if an Event of Default is not cured by the Borrower within (i) 7 (seven) days’ notice by the Lender in respect of an Event of Default under Clause 10.1.1, or (ii) 15 (fifteen) days’ notice by the Lender in respect of any other Event of Default under Clause 10.1 (“Cure Period”).</li>
                            
            <li>	Upon the occurrence of an Event of Default that is not cured within the Cure Period, the Lender shall be entitled to:</li>
                            
                             <ol><li>	declare all Outstanding Amounts immediately due and payable; and/or </li>
                                                    
                                <li>	stop advancing money or extending credit for Borrower’s benefit under this Agreement or any other agreement between the Borrower and the Lender; and/or </li>
                                                                    
                                <li>	enforce the Security, if any; and/or</li>
                                                                    
                                <li>	call upon the Guarantor by invoking the Personal Guarantee to immediately discharge all the Outstanding Amounts; and/or</li>
                                                                    
                                <li>	take any other action that the Lender may in its sole discretion deem appropriate.</li>
           
                             </ol></li>        

           <li>	The Borrower shall ensure that it shall take all necessary actions and provide necessary resolutions of its Board and shareholders to enable the Lender to enforce its rights in accordance with this Clause 11.</li>
        
       </ol></li>                  

    <li>	INDEMNIFICATION
    
    <ol><li>	The Borrower shall indemnify, defend and hold the Lender and its directors, officers, employees, agents, attorneys or any other person affiliated with or representing the Lender harmless against: (i) all obligations, demands, claims, and liabilities (collectively “Claims”) asserted by any other party in connection with the transactions contemplated by the Definitive Agreements; and (ii) all losses, damages or expenses incurred, suffered, or paid by the Lender from, following, or arising from transactions between the Lender and the Borrower (including attorney’s fees and expenses), including resulting from or consequent upon or relating to breach of any representation, warranty, covenants or agreement made or given by the Borrower under or pursuant to the Definitive Agreements or from a delay or omission in paying any stamp duty or registration charges, except for Claims and / or losses directly caused by the Lender’s gross negligence or willful misconduct.
    </li></ol>
    </li>

    <li>	MISCELLANEOUS
    
        <ol><li>	Waivers and Remedies. No delay in exercising or omitting to exercise any right, power or remedy accruing to the Lender upon any default or otherwise under this Agreement and / or the other or the Definitive Agreements shall impair any such right, power or remedy or shall be construed to be a waiver thereof or any acquiescence in such default, nor shall the action or inaction of the Lender in respect of any default or any acquiescence by it in any default, affect or impair any right, power or remedy of the Lender in respect of any other default. All remedies, either under this Agreement, the Definitive Agreements or by Law, equity, contract or otherwise afforded, will be cumulative and not alternative. </li>
    
            <li>	Notices. Unless otherwise provided herein, any notices, waivers, consents or communications required to be given or served by any of the Parties on the other Parties under this Agreement, shall only be given in English in writing to such other Parties, by courier with acknowledgment or by hand delivery or by email at the addresses as set out herein below or to such other address or electronic mail address as the addressee has by 7 (seven) days’ prior written notice specified to the other Parties. The addresses referred to above are:
                            In the case of a notice to the Lender:
                            Baid Hi Tech Park, 8th Floor, 
                            No 129 B, East Coast Road, 
                            Thiruvanmiyur Chennai 600041
                            Telephone: +91-44-66762400.
                            Email: info@samunnati.com
                            Marked to the attention of: Gurunath N. 
                            
                            In the case of a notice to the Borrower:
                            At the address specified under SCHEDULE 1.</li>
    
    <li>	CIBIL Disclosure
    
        <ol><li>	In the Event of Default in payment of any Outstanding Amounts under this Agreement, the Lender shall have an unqualified right to disclose or publish the details of the default and the name of the Borrower, the Guarantor and of the Borrower’s directors as defaulters in such manner and through medium as the Lender / RBI / CIBIL and/or any other credit sharing agency authorized in this behalf by the RBI, may think fit. The Borrower consents to the disclosure by the Lender / RBI / CIBIL and/or any other credit sharing agency authorized in this behalf by the RBI, of all information and data relating to the Borrower or to the Facility or defaults, if any, as the Lender may deem to be appropriate or necessary to CIBIL, or any institution or any other agencies authorized in this behalf by the RBI.</li>
    
            <li>	The Borrower hereby further agrees that:
    
                            <ol><li>	CIBIL or any institution or any other agency so authorized by the RBI may use or process the said information and data disclosed by the Lender; and </li>
                
                                <li>	CIBIL or any institution or any other agency may furnish on consideration, the processed information and data or products thereof prepared by them to banks, financial institutions and other credit grantors as may be specified by the RBI in this behalf. </li>
                            </ol>
            </li></ol>
    
    
            <li>	Governing Law. This Agreement and the other Definitive Agreements shall be governed by and construed in accordance with the Laws of India. Subject to Clause 14.6 below, the courts of Chennai shall have the exclusive jurisdiction for all matters connected herewith.</li>
            
            <li>	Dispute Resolution. Any dispute relating to the Facility hereunder, or in respect of any rights, liabilities and obligations arising out of this Agreement and the other Definitive Agreements shall be resolved by arbitration by a sole arbitrator appointed by both Parties. The arbitration proceedings shall be carried out in accordance with the provisions laid down by the Arbitration and Conciliation Act, 1996, and the place of arbitration shall be Chennai. The arbitration proceedings shall be conducted in the English language. The award of the arbitrator(s) shall be binding. The Parties shall equally share the costs of the arbitrator’s fees. The arbitrators appointed pursuant to this Clause 14.6 shall have the right to apportion cost.</li>
            
            <li>	Assignability. The Borrower shall not assign or transfer all or any of its rights, benefits or obligations under this Agreement and the other Definitive Agreements without prior written approval of the Lender. The Lender may at any time, assign or transfer all or any of its rights, benefits and obligations under this Agreement and the other Definitive Agreements. </li>
            
            <li>	Term. This Agreement shall become effective from the Effective Date and shall be in full force and effect till all the Outstanding Amounts under this Agreement and the other Definitive Agreements are fully paid off and discharged to the satisfaction of the Lender. </li>
            
            <li>	Conflict. In the event of any conflict between this Agreement, on the one hand, and the Sanction Letter or any Definitive Agreement, on the other hand, the terms of this Agreement shall prevail.</li>
            
</ol></li>




</p>
<footer class="footer"></footer>
        <div >
        <h1><center><u>Schedule 1</u></center> </h1>
        <h1><center><u>SPECIFIC DETAILS OF BORROWER</u></center> </h1>
        </div>
    
<table border="1" style="border-collapse: collapse;font-size:12px">
    <tr><td>	SI. NO.	</td><td>	Title	</td><td>	Details	</td></tr>
    <tr><td> 1  </td><td> Place of execution	 </td><td> 		</td></tr>
    <tr><td> 2  </td><td>Effective Date	 </td><td>		</td></tr>
    <tr><td> 3	</td><td> Name(s) of borrower(s)	 </td><td> <%= data.company_name %>		</td></tr>
    <tr><td> 4  </td><td> Legal Nature of Borrower (strike off whichever is not applicable) </td>
        <td> 
            <input type="checkbox" ><label for="vehicle1"> Public limited company incorporated under Companies Act, 1956 / 2013</label><br>
            <input type="checkbox"> <label for="vehicle2"> Private limited company incorporated under Companies Act, 1956 / 2013</label><br>
            <input type="checkbox" ><label for="vehicle1"> Limited liability partnership formed under Limited Liability Partnership Act, 2008</label><br>
            <input type="checkbox"> <label for="vehicle2"> Others (please specify) </label><br>
             <br>
             <br>
        <br>
                </td></tr>
    <tr><td> 5	</td><td>a)	Whether registered
        b)	If registered, registration No. and date of registration
             </td><td> 	CIN: <%= data.cin %>  / Incorporation Date <%= data.incorporation_date %> <br>	 <br> <br>	</td></tr>
    <tr><td> 6	</td><td> Sanction Letter reference No. and date   </td><td> <%= data.applicationref %>	 <br> Date : <%= day %> / <%= month %> / <%= year %>	</td></tr>
    <tr><td> 7	</td><td> Address and E-Mail ID for communication to the Borrower 	 </td><td> <%= data.address %>	 	</td></tr>
    </table>

<br><br>
<div >
    <h1><center><u>SCHEDULE 2</u></center> </h1>
    <h1><center><u>FINAL SANCTION LETTER</u></center> </h1>
    <h4><center>[Attach separately]</center> </h4>
    </div>
    <br><br>
<div style="text-align:left">
    

    <br>IN WITNESS WHEREOF, the Parties have executed this Agreement on the Effective Date.
    
    <br>Signed and delivered for and on behalf of the Borrower <br><br>
    
    <br>_______________________________
    <br>Authorised Signatory
    <br>Name: 
    
    <br>Signed and delivered for and on behalf of
    
    <br>SAMUNNATI FINANCIAL INTERMEDIATION & SERVICES PRIVATE LIMITED <br><br>
    <br> _______________________________ 
    <br>Authorised Signatory
    <br>Name: 
    

  
  </div> 
  
</div>

  </body>
  </html>